<head>
<META HTTP-EQUIV="expires" CONTENT="0">
<title></title>
<link rel="stylesheet" href="/ispring/style/ispring_styles.css" type="text/css">
</head>
<body topmargin=0>
<style>
/* Web Object Style */

table.outborder {
	border-width: 0px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #5E7FB7;
	font-family: verdana;
	font-size: 10px;
}

td.outbordertd {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #5E7FB7;
}

.popupwindow{
position: absolute;
visibility: hidden;
background-color: white;
}
.style3 {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.style4 {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.style5 {font-family: "Courier New", Courier, monospace}
.style6 {font-size: 12px}
.style7 {font-family: "Courier New", Courier, monospace; font-size: 12px; }
.style8 {
	font-size: 14;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
</style>
<script>

function popupAjaxDiv(processID, title, height, width, top, left)
{

 	ajaxReqCompID[processID] = '0A1';
 	if(top && left)
 	{
 		document.getElementById('div0A1').style.left = left;
 		document.getElementById('div0A1').style.top = top;
 	}
 	sendAjaxReq('/ispring/DefaultAjax?handler=Start&processID='+processID+'&AjaxReturnType=HTML', 'GET', '0A1', customFunction0A1);
 	document.getElementById('div0A1').style.visibility = 'visible';

}
</script>

<div id='div0A1' class='popupwindow'></div>

 <script>
 var customFunction0A1 = function(){
 document.getElementById('div0A1').innerHTML = ' &nbsp; ' ;
 document.getElementById('div0A1').innerHTML = ajaxRequest['0A1'].responseText.replace(/<script/g,'<script defer ').replace(/<SCRIPT/g,'<SCRIPT defer ');
 };
 </script>
<form>
<center>
<table width="60%" border="0" align="center" cellpadding="3" cellspacing="2">
  <tr>
    <td height="59" colspan="2"><img src="/ispring/images/fusionops_logo.gif" width="193" height="32" /></td>
  </tr>
  <tr>
    <td colspan="2"><img src="/ispring/images/apps_top.jpg" width="800" height="33" border="0" align="left" /></td>
  </tr>
  <tr>
    <td height="50" colspan="2"><ispring element="components"><param name="group" value="title"></ispring></td>
  </tr>
  <tr>
    <td height="28"><ispring element="components"></ispring></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
<!--   <tr>
    <td colspan="2"><span class="style5"><A target="new" href="Troubleshooting.html">Problem starting application</A></span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr> -->
  <tr>
    <td colspan="2"><img src="/ispring/images/apps_bottom.jpg" width="800" height="33" /></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center" class="style5">
      <div align="left" class="style6">
        <div align="center" class="style8">
          <div align="left">Copyright
            &copy;2001-2009 FusionOps, Inc. All rights reserved </div>
        </div>
      </div>
    </div></td>
  </tr>
</table>
<iframe id=ifAppCall name=ifAppCall frameborder=0 border=0 height=1px></iframe>
</center>
</form>
</body>
</html>