<table width=485 border=0 cellspacing=0 class=outborder align=top>
<form>
  <tr>
  	<td class=outbordertd width=4 background="/ispring/images/round_corner_l.gif" style="border-top: 0px;border-left: 0px">&nbsp;</td>
    <td class=outbordertd width=456 bgcolor=#5E7FB7 style="color:white;padding: 0px;">
    		<ispring element="components"><param name="group" value="caption"></ispring></td>
    <td class=outbordertd width=7  bgcolor=#5E7FB7 style="color:white;" align=right valign=middle>
    		<ispring element="components"><param name="group" value="action"></ispring>
    	</td>
    <td class=outbordertd width=7  bgcolor=#5E7FB7 style="color:white;" align=right valign=middle>
    		<ispring element="components"><param name="group" value="minmax"></ispring>
    	</td>
    <td class=outbordertd width=7  bgcolor=#5E7FB7 style="color:white;" align=right valign=middle>
    		<ispring element="components"><param name="group" value="closeopen"></ispring>
    	</td>
    <td class=outbordertd width=4 background="/ispring/images/round_corner_r.gif" style="border-top: 0px;border-right: 0px">&nbsp;</td>
  </tr>
  <tr>
    <td class=outbordertd colspan=6 valign=top bgcolor=white><ispring element="components"></ispring></td>
  </tr>
</form>
</table>