<style>
.lightblubttn {
	text-align:center;
	color: #FFF;
	font: 12px arial, verdana, sans-serif;
	font-weight: regular;
	background-color: #348DD3;
	border-top: 1px solid #A3C8E9;
	border-right: 1px solid #348DD3;
	border-bottom: 1px solid #348DD3;
	border-left: 1px solid #A3C8E9;
	padding: 3px 8px 3px 8px;
	cursor: hand;
	width: 70px;
}
.lightblubttn:hover {
	color:#FFF;
	background-color:#2F80BF;
	text-decoration:none;
}
.graybttn {
	text-align:center;
	color: #000;
	font: 12px arial, verdana, sans-serif;
	font-weight: regular;
	background-color: #EEE;
	border-top: 1px solid #E5E5E5;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	border-left: 1px solid #E5E5E5;
	padding: 3px 8px 3px 8px;
	cursor: hand;
	width: 70px;
}
.graybttn:hover {
	color:#000;
	background-color:#DFDFDF;
	text-decoration:none;
}
</style>
<div><form>
<table border=0 cellspacing=0 cellpadding=5>
<tr><td colspan=2>
		<ispring element="components">
			<param name="cellspacing" value="2">
		</ispring>
</td></tr>
<tr><td align=right width="96%">
		<ispring element="menu"></ispring>
	</td>
	<td width="4%">&nbsp;</td>
</td></tr>
</table>
</form></div>