<div><center>
	<table class="reportblock" align=top>
	  <tr height=16>
		<th align=left valign=middle class="reportblocktitlecol" width="99%">
			<ispring element="components">
					<param name="group" value="title">
					<param name="cellspacing" value="0">
					<param name="cellpadding" value="0"></ispring></th>
		<th valign=middle width="12px"><img src="/ispring/images/dashboard/info.png" class="infoimg"></th>
		<th valign=middle width="12px"><img src="/ispring/images/dashboard/win-max-blue.png" class="minmaximg"></th>
		<th valign=middle width="12px"><img src="/ispring/images/dashboard/win-close-blue.png" class="closeimg"></th>
		<th width="1px" class="reportblocklastheadcol" align="right" valign=top></th>
	  </tr>
	  <tr height=20>
		<td colspan=5 class="reportblock_param" valign=middle>
			<center>
			<ispring element="components">
				<param name="group" value="top_params">
				<param name="position" value="horizontal">
				<param name="cellspacing" value="0">
				<param name="cellpadding" value="0"></ispring>
			</center>
		</td>
	  </tr>
	  <tr>
		<td colspan=5  valign=middle>
			<center>
			<ispring element="components">
					<param name="cellspacing" value="0">
					<param name="cellpadding" value="0"></ispring>
			</center>
		</td>
	  </tr>
	</table><center>
</div>