<table width="100%" bgcolor=#cccccc cellspacing=0 cellpadding=3 id="StandardAjaxTemplate">
<tr><td>
<table width="100%" border=1 bordercolor=#ffffff cellpadding=0 cellspacing=0
	style="border-style: solid; border-collapse: collapse;">
<tr><td>
<table width="100%" height="1%" cellspacing=0 cellpadding=0 border=0>
<tr><td align=right><span style="cursor:hand" onclick='document.getElementById("StandardAjaxTemplate").style.display="none";'>x&nbsp;</span></td></tr>
</table>
<table border=0 cellpadding=3 cellspacing=0 width="100%">
  <tr>
	<td><ispring element="components"> </ispring></td>
  </tr>
</table>
</td></tr>
</table>
</td></tr>
</table>
