<table width=485 border=0 cellspacing=0 align=top>
<form>
  <tr>
  	<td width=5 height=17 background="/ispring/images/round_corner_l.gif" style="border-top: 0px;border-left: 0px"> </td>
    <td width=453 height=17 bgcolor=#5E7FB7 style="color:white;padding: 0px;">
    		<ispring element="components"><param name="group" value="caption"></ispring></td>
    <td width=7 height=17  bgcolor=#5E7FB7 style="color:white;" align=right valign=middle>
    		<ispring element="components"><param name="group" value="action"></ispring>
    	</td>
    <td width=7 height=17 bgcolor=#5E7FB7 style="color:white;" align=right valign=middle>
    		<ispring element="components"><param name="group" value="minmax"></ispring>
    	</td>
    <td width=7 height=17 bgcolor=#5E7FB7 style="color:white;" align=right valign=middle>
    		<ispring element="components"><param name="group" value="closeopen"></ispring>
    	</td>
    <td width=6 height=17 background="/ispring/images/round_corner_r.gif" style="border-top: 0px;border-right: 0px"> </td>
  </tr>
  <tr>
    <td colspan=6 valign=top><ispring element="components"></ispring></td>
  </tr>
</form>
</table>