<SCRIPT LANGUAGE=JAVASCRIPT SRC='/ispring/FusionCharts/FusionCharts.js'></SCRIPT>
<form>
<table class="reportblock" align=top>
  <tr height=16>
	<th align=left valign=middle class="reportblock_th reportblocktitlecol" width="99%">
		<ispring element="components">
				<param name="group" value="title">
				<param name="cellspacing" value="0">
				<param name="cellpadding" value="0"></ispring></th>
	<th valign=middle width="17px" class="reportblock_th"><img src="/ispring/images/dashboard/win-blue-pin-new-d.png" class="infoimg"></th>
	<th valign=middle width="17px" class="reportblock_th"><img src="/ispring/images/dashboard/win-blue-max-new-d.png" class="minmaximg"></th>
	<th valign=middle width="17px" class="reportblock_th"><img src="/ispring/images/dashboard/win-blue-close-new-d.png" class="closeimg"></th>
	<th width="1px" class="reportblocklastheadcol reportblock_th" align="right" valign=top></th>
  </tr>
  <tr height=20>
    <td colspan=5 class="reportblock_param" valign=middle>
		<center>
		<ispring element="components">
			<param name="group" value="top_params">
			<param name="position" value="horizontal">
			<param name="cellspacing" value="0">
			<param name="cellpadding" value="0"></ispring>
		</center>
	</td>
  </tr>
  <tr>
	<td class="reportblock_td" colspan=5 valign=middle>
		<center>
		<ispring element="components">
			<param name="cellspacing" value="0">
			<param name="cellpadding" value="0"></ispring>
		</center>
	</td>
  </tr>
  <tr height="40%">
	<td class="reportblock_td" colspan=5 valign=top align=center>
	<table cellspacing=0 cellpadding=1 border=0 height="100%" width="100%">
		<tr>
			<td width="50%" align=center>
				<center>
				<table cellspacing=0 cellpadding=0 border=0 width="60%">
					<tr>
						<td>
							<ispring element="components">
								<param name="group" value="bottom_left">
								<param name="cellspacing" value="0">
								<param name="cellpadding" value="0"></ispring>
						</td>
					</tr>
				</table>
				</center>
			</td>
			<td width="50%" align=center>
				<center>
				<table cellspacing=0 cellpadding=0 border=0 width="60%">
					<tr>
						<td>
							<ispring element="components">
								<param name="group" value="bottom_right">
								<param name="cellspacing" value="0">
								<param name="cellpadding" value="0"></ispring>
						</td>
					</tr>
				</table>
				</center>
			</td>
		</tr>
	</table>
	</td>
  </tr>
</table>
<div style="display: none;">
		<ispring element="components">
				<param name="group" value="hidden_params">
		</ispring>
</div>
</form>